<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="page-header">
                <h1>jQuery Todos</h1>
            </div>
            <div class="input-group">
                <input type="text" class="todos-input form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="todos-button btn btn-default" type="button">Go!</button>
                </span>
            </div>
            <ul class="list-group todos-list">
            </ul>
        </div>
    </div>
</div>