<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="page-header">
                <h1>jQuery Todos</h1>
            </div>
            <div class="input-group">
                <input type="text" class="todos-input form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="todos-button btn btn-default" type="button">Go!</button>
                </span>
            </div>
            <ul class="list-group todos-list">
                <li class="list-group-item todos-item">
                    <i class="fa fa-check-circle todos-item-check"></i>
                    Cras justo odio
                    <i class="fa fa-trash-o todos-item-trash"></i>
                </li>
            </ul>
        </div>
    </div>
</div>